// BLOG
.author-time-info, .categories {
  font-size: 12px;
  font-family: @italic;
  margin-bottom: 5px;
}

.all-blog-post {
 // border: 1px solid @darkgrey !important;
  padding: 10px;
  position: relative;
  margin: 0px -10px 0px -10px;
 // background-color: rgba(50, 50, 50, 0.5);
}

.all-blog-post {
  h2 {
    margin-top: 0;
  }
}

.post {
  width: 680px;
}

.category-select-wrapper {
  margin-bottom: 25px;
}

.category-select-wrapper {
  .category-select-header {
    font-family: @bold;
    font-size: 16px;
    margin-bottom: 5px;
    display: inline-block;
  }

  .form-control {
    width: 33%;
  }

  input, select {
    float: left;
    background-color: @darkgrey;
    color: white;
  }

  input {
    margin-left: 5px;
  }
}

.blog-back {
  display: inline-block;
  position: absolute;
  right: 35px;
  top: 15px;
}

.newer {
  .fa {
    margin-right: 5px;
  }
}

.older {
  .fa {
    margin-left: 5px;
  }
}

.blog-line {
  .line {
    display:block;
    margin: 10px 15% 10px 15%;
    border-bottom: 2px dashed @darkgrey;
  }
}