// Events Less

.tribe-events-list-separator-month {
  //Monatstrenner
  font-size: 32px;
  //text-transform: uppercase;
  font-family: @regular;
  margin-bottom: 15px;
  margin-top: 0;
  display: inline-block;

}

.tribe-events-list-separator-month > span:first-letter {
  font-size: 40px;
}

.type-tribe_events {
  //container
  border: 1px solid @darkgrey !important;
  padding: 10px 10px 40px;
  position: relative;
  margin: 10px -10px 20px -10px;
  background-color: rgba(50, 50, 50, 0.5);
}

a, h2, h2 a, h2 a.tribe-event-url {
  color: #a8c380;
}

a:hover, h2, h2 a, h2 a.tribe-event-url:hover {
  color: #a8c380 * 0.8;
}

.tribe-events-event-cost {
  // Kosten feld
  float: right;
  border: 1px solid @lightgrey;
  background-color: @darkgrey;
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 10px;
  font-family: @bold;
  font-size: 16px;
}

.type-tribe_events {
  h2.tribe-events-list-event-title {
    margin-top: 5px;
  }
}

#tribe-events-bar {
  display: none;
}

.tribe-event-schedule-details {
  position: absolute;
  right: 10px;
  bottom: 0;
  font-size: 28px;
  z-index: 1;
  opacity: 0.4;
}

.tribe-events-schedule span.tribe-events-cost {
  display: none;
}

.tribe-events-notices {
  color: white;
  border: 0;
  background: none;
  text-shadow: none;
}

// Disable the Header

#tribe-events-header {
  margin: 0;
}

.tribe-events-page-title {
  display: none !important;
}

// Tribe List widget

.widget-panel-0 ol.tribe-list-widget {
  list-style-type: none;
  list-style-position: outside;
  padding: 0;
}

.widget-panel-0 .type-tribe_events {
  margin: 0 0 10px;
  padding: 5px 10px 5px 10px;

}
