// Events Less

.tribe-events-list-separator-month {
  //Monatstrenner
  font-size: 18px;
  font-family: @bold;
  margin-bottom: 15px;
  margin-top: 5px;
  display: inline-block;
}

.type-tribe_events {
  //container
  border: 1px solid @darkgrey !important;
  padding: 10px;
  position: relative;
  margin : 10px -10px 10px -10px;
  background-color: rgba(50, 50, 50, 0.5);
}

.tribe-events-event-cost {
  // Kosten feld
  float: right;
  border: 1px solid @lightgrey;
  background-color: @darkgrey;
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 10px;
  font-family: @bold;
  font-size: 16px;
}
.type-tribe_events {
  h2.tribe-events-list-event-title {
    margin-top: 5px;
  }
}

#tribe-events-bar {
  display:none;
}

.tribe-event-schedule-details {
  position: absolute;
  right: 10px;
  bottom: 0;
  font-size: 50px;
  z-index: 1;
  opacity: 0.4;
}
