// Floating Box at home
/************************
* Floatingbox Definitions
*************************/

.floatingbox {
  position: absolute;
  top: 100px;
  width: 75%;
  background-color: @transparentblack;
  padding: 15px;
  display: inline-block;
}

.floatingbox {
  h1 {
    margin: 0 0 15px;

  }
}