// Main Styles

/***********************
* General Definitions
************************/

html {
  box-sizing: border-box;

}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  //background-color: @black;
  background-image: url('./assets/images/komposit_1.jpg');
  // background-position: 80% center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: @regular, Arial, sans-serif;
  overflow-x: hidden;
}

div, p {
  color: @white;
}

.wrapper {
  position: relative;
  width: 940px;
  margin: 0 auto;
  padding: 20px;
}

/***********************
* Top/Header Definitions
************************/
.first #header {
  height: 100vh;
}

.follow #header {
  height: auto;
}

#logo {

  img {
    position: absolute;
    top: 25px;
    height: 50px;
    width: auto;
  }
}

#top {
  position: relative;
  width: auto;
  height: 100px;
}

#top, #header, #main, #footer {
  width: 100%;
}
/***********************
* Breadcrumb Definitions
************************/

#breadcrumb .wrapper {
  font-size: 32px;
  padding: 0 20px 50px;
  text-align: right;
}

#breadcrumb .col-sm-12:first-letter {
  font-size: 40px;
}

/*****************
* Main Definitions
******************/
#main {
  .wrapper {
    padding: 0 !important;
  }

  h1 {
    margin: 0 0 10px 0 !important;
  }

  h2.panel-title {
    margin: 0 0 10px 0 !important;
    font-size: 18px;
  }
}

#main {
  .wrapper {
    .col-sm-6 {
      margin-bottom: 30px;
    }
    .inner {
      background-color: @transparentblack;
      padding: @stdpadding;
      min-height: 270px;
    }

    .inner {
      i.fa {
        margin-right: 15px;
      }
    }
  }
}

.follow #main .col-sm-12 {
  margin-bottom: 15px;
}

/*******************
* Bottom Definitions
********************/
#bottom {
  .col-sm-4 {
    margin-bottom: 15px;
  }
  .inner {
    background-color: @transparentblack;
    padding: @stdpadding;
    min-height: 315px;
  }

  .wrapper {
    padding: 0;
  }

  h2 {
    font-size: 18px;
    margin: 0 0 10px 0;
  }
}
#bottom {
  clear: both;
}
#bottom {
  position: relative;
  .wrapper {
    position: relative;
    .col-sm-4 {
      position: relative;
    }
  }
}

/*******************
* Footer Definitions
********************/
#footer {
  clear: both;
  font-size: 18px;
}

#footer {
  .wrapper {
    .col-sm-12 {
      padding: 0 15px 15px 15px;
    }
  }
}

#footer {
  .wrapper {
    padding: 0 20px;
    height: 75px;
  }
}

.footer-left , .footer-right {
  line-height: 40px;
}

.footer-left {
  position:relative;
  left: -20px;
}

.footer-right {
  text-align: right;

  i.fa-chevron-up {
    position: relative;
    bottom: -2px;
    left: 20px;
  }

  i.fa-envelope {
    position: relative;
    bottom: -2px;
    left: 10px;
    font-size: 30px;
  }

  a {
    color: @white;
  }
}