// MENU Definitions

/*******************
* Menu Definitions
********************/

.mainnav {
  font-family: @regular, Arial, sans-serif;
  height: 50px;
  letter-spacing: 1px;
  font-size: 18px;
  a {
    color: white;
  }

  a:hover {
    color: @lightgrey;
  }
}

.mainnav ul.menu {
  margin-left: 50px;
  position: relative;
  top: 14px;
}

.mainnav ul.menu {
  list-style-type: none;

  > li {
    display: inline-block;
    padding: 3px 0;

    margin-right: 15px;
    transition: all 500ms;
    a {
      border-bottom: 1px solid rgba(255, 255, 255, 0.0);
    }

  }

  > li.current_page_item a {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  }

  > li a:hover {
    border-bottom: 1px solid rgba(255, 255, 255, 0.9);
  }

  > li:hover {
    .sub-menu {
      display: inline-block;
    }
  }

  > li.current-menu-item .sub-menu , > li.current-menu-parent .sub-menu {
    display: inline-block;
  }

  a {
    text-decoration: none;
  }
}

/**************
 * Bottom menu
 **************/

#bottom .extra-menu ul {
  list-style-type: none;
  list-style-position: outside;
  position: relative;
  margin-left: -40px;
}

#bottom .extra-menu ul {
  a {
    color: @white;
    border-bottom: 1px solid rgba(255, 255, 255, 0.0);
    text-decoration: none;
    padding: 3px 0;
    display: block;
  }

  //.current_page_item a {
  //  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  //}

  a:hover {
    border-bottom: 1px solid rgba(255, 255, 255, 0.9);
  }

}

// SUBMENU
nav {
  ul.sub-menu {
    display: none;
    list-style-type: none;
    position: absolute !important;
    font-size: 14px;
    top: 30px;
    padding-left: 0px;
  }

  ul.sub-menu {

    a {
      padding: 3px 0;
    }

    li.current_page_item a {
      border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    }
  }

}
