// MENU Definitions

/*******************
* Menu Definitions
********************/

.mainnav {
  font-family: @regular, Arial, sans-serif;
  height: 50px;
  letter-spacing: 1px;
  font-size: 18px;
  a {
    color: white;
  }

  a:hover {
    color: @lightgrey;
  }
}

.mainnav ul {
  margin-left: 50px;
  position: relative;
  top: 14px;
}

.mainnav ul {
  list-style-type: none;

  li {
    display: inline-block;
    padding: 3px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.0);
    margin-right: 15px;
    transition: all 500ms;
  }

  li {
    &.current_page_item {
      border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    }
  }
  li:hover {
    border-bottom: 1px solid rgba(255, 255, 255, 0.9);
  }

  a {
    text-decoration: none;
  }
}

/**************
 * Bottom menu
 **************/

#bottom .extra-menu ul {
  list-style-type: none;
  list-style-position: outside;
  position: relative;
  margin-left: -40px;
}

#bottom .extra-menu ul {
  a {
    color: @white;
    border-bottom: 1px solid rgba(255, 255, 255, 0.0);
    text-decoration: none;
    padding: 3px 0;
    display: block;
  }

  //.current_page_item a {
  //  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  //}

  a:hover {
    border-bottom: 1px solid rgba(255, 255, 255, 0.9);
  }

}